.site-nav__list {
    @include list-unstyled;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.site-nav__item-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: $color-nav;
    text-decoration: none;
    transition: color 0.3s ease;

    &--a {
        display: inline-block;
        padding-bottom: 6px;
        color: #666666;
        border-bottom: 1px solid #666666ce;
    }

    &:hover {
        color: blue;
    }
}

@include breakpoint-down(520px) {
    .site-nav {
        position: absolute;
        z-index: 1;
        display: none;
        padding: 20px;
        top: 100%;
        right: 10%;
        background-color: rgba(98, 103, 97, 0.868);
        border-radius: 5px;

        &--open {
            display: block;
        }
    }

    .site-nav__list {
        flex-direction: column;
    }

    .site-nav__item {
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    .site-nav__item-link {
        color: $color-white;

        &--a {
            color: $color-white;
        }
    }
}